.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 2rem auto;
  max-width: 1200px;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 calc(25% - 20px); /* Mostra 4 por vez */
  margin: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.carousel-button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 0 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 5px;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}
