
/* Desafio9/src/public/css/login.css */
  .welcome-message {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .login-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(228, 15, 146, 0.986);
    width: 300px;
  }

  .login-card h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-card label {
    display: block;
    margin: 10px 0 5px;
  }

  .login-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .login-card button {
    width: 100%;
    padding: 10px;
    background-color: #800080;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .login-card button:hover {
    background-color: #800080;
  }
/* Estilizando o botão de login na página de sucesso (com classe personalizada) */
.custom-purple-button {
  background-color: #800080 !important; /* Roxo */
  border-color: #800080 !important;
  color: white !important;
}

.custom-purple-button:hover {
  background-color: #A020F0 !important; /* Roxo mais claro ao passar o mouse */
  border-color: #A020F0 !important;
}

.custom-purple-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 0, 128, 0.5) !important; /* Sombra de foco roxa */
}

/* Se você quiser estilizar diretamente sem a classe personalizada (menos recomendado) */
.alert-success a.btn.btn-primary {
  background-color: #800080 !important;
  border-color: #800080 !important;
  color: white !important;
}

.alert-success a.btn.btn-primary:hover {
  background-color: #A020F0 !important;
  border-color: #A020F0 !important;
}

.alert-success a.btn.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 0, 128, 0.5) !important;
}

