<h1>Pagamento realizado com sucesso!</h1>
{{#if ticket}}
    <h2>Detalhes do seu pedido:</h2>
    <p><strong>Código do Ticket:</strong> {{ticket.code}}</p>
    {{#if ticket.purchaseDate}}
        <p><strong>Data:</strong> {{formatDate ticket.purchaseDate}}</p>
    {{/if}}
    <p><strong>Total da compra:</strong> {{formatToBrazilianReal ticket.totalAmount}}</p>
{{else}}
    <p>Não foi possível encontrar o ticket.</p>
{{/if}}

<p>Obrigado pela sua compra. Em breve você receberá seu produto.</p>
<a href="/" class="btn btn-primary">Voltar à Home</a>